h1 {
    text-align: center;
    font-weight: bolder;
    color: #2C365E;
    font-size: 56px;
}
h2 {
    color:#484D6D;
    font-size: 48px;
}
body {
    background-color: whitesmoke;
}
#biography2, #experience2, #projects {
    font-size: 18px;
    color: black;
    padding: 1em;
}
#pagetitle {
    text-align:center;
    padding: 1em;
}
.navbar {
    padding: 16px 24px;
    word-spacing: 24px;
}
.pages {
    padding: 16px 24px;
    word-spacing: 24px;
}
#bio, #experience, #projects {
    font-size: 24px;
    color: whitesmoke;
}
#navlinks1 {
    font-size: 26px;
    color: whitesmoke;
}
#navlinks {
    font-size: 22px;
    color: whitesmoke;
}
#flexbox1 {
    background-color: #484D6D;
    width: 100%;
   
} 
#flexbox2 { 
    background-color: #29615e;
}
.brand {
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
}
button {
    padding: 1em;
    text-align: center;
    justify-content: center;
}
#resume {
    color:#484D6D;
    text-align: center;   
}
.containerMain {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}
#flexbox-page {
	display: flex;
	justify-content: center;
    align-items: center;
    width: 50%;
	background: #29615e;
	padding: 20px 20px;
	box-sizing: border-box;
	box-shadow: 2px 2px #2C365E; 
}
#borrow {
    background-color: #29615e;
    font-size: larger;
    margin-right: 20px;
}
.projectPic {
    width: 450px;
    padding: 1em;
    margin: 10px auto 10px auto;
}
#flexbox-game {
    background:rgb(208, 197, 199);
	box-shadow: 2px 2px #2C365E; 
    font-size: 18px;
    padding: 1em;
    margin: 2em;
}
#walk, #puppysit, #cookies, #sundaes {
    border: 2px solid #484D6D;
    padding: 2px;
    background-color: #484D6D;
}
#Lena2 {
    margin-left: 40%;
}
.container {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}
.carousel-imgs {
	width: 50%;
	background:#29615e;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: 2px 2px #2C365E;
}
.carousel-imgs img {
	width: 100%;
	display: none;
}
.carousel-button {
	align-self: center;
	background: #2C365E;
	color: whitesmoke;
	padding: 10px;
    font-style: italic;
}
.carousel-imgs img:first-of-type {
    display: block;
}
@media (max-width: 715px) {
	
    .bio, .experience, .projects {
        font-size: 16px;
    }
    .navlinks {
        font-size: 14px;
        color: whitesmoke;
    }
    #flexbox-page {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;
        background: #4B8F8C;
        padding: 20px 20px;
        box-sizing: border-box;
        box-shadow: 2px 2px #2C365E; 
    }
    .carousel-imgs {
        width: 60%;
        background: #4B8F8C;
        padding: 10px;
        border-radius: 10px;
        box-sizing: border-box;
        box-shadow: 2px 2px #2C365E;
    }
}
#me, #name {
    text-align: center;
    padding: 1em;
}
@media (min-width: 1000px) {
    
    #flexbox-page {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33%;
        background: #4B8F8C;
        padding: 20px 20px;
        box-sizing: border-box;
        box-shadow: 2px 2px #2C365E; 
        }
    .carousel-imgs {
        width: 30%;
        background: #4B8F8C;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 2px 2px #2C365E;
        }
   
}


